"Auth Email":           "user@example.com"                                  # enter your cloudflare user email address
"Auth Key":             "c2547eb745079dac9320b638f5e225cf483cc5cfdda41"     # paste your api authorization key here.
"Account ID":           "01a7362d577a6c3019a474fd6f485823"                  # paster your account id here; find it from your cloudflare url endpoint while on account dashboard.
"Parent Domain":        ""                                                  # leave blank unless you will be using a parent domain, per instructions